td.elem-describe{
    height: 150px;
}
p {
    text-align: justify;
}
td div{
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    background-color: #4141ffb6;
    height: 100%;
}
div.title{
    height: 100%;
}
ul{
    text-align: justify;
    list-style-type: none;
}