* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

h1 {
  color: white;
}

nav {
  width: 980px;
  height: 90px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  border-bottom: solid 2px white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  position: relative;
  width: 52px;
  height: 42px;
  border: solid 2px white;
}
nav .logo span {
  position: absolute;
  bottom: -5px;
  color: white;
}
nav .links {
  width: 350px;
  display: flex;
  justify-content: space-around;
}
nav .links a {
  text-decoration: none;
  color: white;
}
nav .links span {
  color: #ee4467;
}

.hero {
  background-image: linear-gradient(to bottom, rgba(235, 201, 86, 0.8), rgba(235, 201, 86, 0.8)), url(../images/home-hero.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero h1 {
  color: white;
}
.hero h2 {
  color: #ee4467;
}
.hero p {
  color: white;
}
.hero .centered-content {
  width: 300px;
  height: 300px;
}

.quote {
  height: 400px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffd140;
}
.quote .content {
  width: 350px;
}
.quote .content .author {
  color: #f2728d;
}
.quote .content .title {
  color: #d4d4d4;
  font-size: 10px;
}

.upcoming-events {
  height: 320px;
  background-color: #540d6e;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 40px;
}
.upcoming-events .title {
  height: 35px;
  width: 392px;
  border-bottom: solid 2px white;
  padding-bottom: 40px;
}
.upcoming-events .title h1 {
  font-size: 26px;
}
.upcoming-events .events {
  height: 124px;
  margin-top: -120px;
  display: flex;
  justify-content: space-between;
}
.upcoming-events .events .event {
  width: 210px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.upcoming-events .events .event .date {
  width: 60px;
  height: 60px;
  background-color: #ee4367;
  display: flex;
  flex-direction: column;
}
.upcoming-events .events .event .event-detail {
  width: 140px;
  font-size: 12px;
}