.upcoming-events{
    height: 320px;
    background-color: #540d6e;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 40px;

    .title{
        height: 35px;
        width:392px;
        border-bottom: solid 2px white;
        padding-bottom: 40px;
        h1{
            font-size: 26px;
        }
    }
    .events{
        height: 124px; 
        margin-top: -120px;
        display: flex;
        justify-content: space-between;

        .event{
            width: 210px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            
            .date{
                width: 60px;
                height: 60px;
                background-color: #ee4367;
                display: flex;
                flex-direction: column;

            }
            .event-detail{
                width: 140px;
                font-size: 12px;
             
            }
        }
    }
}